div img{
    display: block;   
    margin-right: auto; 
    margin-left: auto; 
    background-color: darkred;
    width: 100px;

}
div img,h4{
    display: inline;
    border-radius: 10vw;
    margin-left: 1vw;
}
.posi-navprof{
    display: block;   
    margin-right: auto; 
    margin-left: auto; 
}
